.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #26d0ce,
    #1a2980
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #26d0ce,
    #1a2980
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.app .container {
  text-align: center;
  margin: 0 10vw;
  padding: 1vh 2vw;
  width: max-content;
  height: max-content;
  border-radius: 2vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
}
.contHeading h1 {
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 5vh 0;
}
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote span {
  font-size: 4vw;
  font-weight: bold;
}
.quote p {
  font-size: 2vw;
  letter-spacing: 0.3px;
}
.authorName {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 20px;
}
.authorName .bar {
  width: 5px;
  height: 2px;
  background-color: #000000;
  border-radius: 0.1px;
}
.authorName h2 {
  font-size: 2vw;
  padding-left: 1px;
}
.bigBar {
  width: 100%;
  height: 2px;
  border-radius: 20px;
  background-color: rgb(149, 146, 146);
}
.button {
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
  align-items: center;
}
.button .tasks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button .tasks .taskBtn button {
  font-size: 3vw;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: black;
  background-color: #fff;
  padding: 0 15px;
}
.button .tasks .taskBtn button:hover {
  color: #26d0ce;
}
.generateQuote button {
  padding: 1vh 2vw;
  font-size: 1.7vw;
  font-weight: bold;
  color: #fff;
  background-color: #26d0ce;
  border-radius: 2vw;
  border: none;
  cursor: pointer;
}
.generateQuote button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1.15vh 2.15vw;
}
@media (max-width: 1370px) {
  .app .container {
    width: 70vw;
    height: 53vh;
  }
  .button .tasks .taskBtn button {
    padding: 0 20px;
  }
}
@media (max-width: 1200px) {
  .app .container {
    width: 70vw;
    height: max-content;
  }
  .button .tasks .taskBtn button {
    padding: 0 15px;
  }
}
@media (max-width: 500px) {
  .app .container {
    width: max-content;
  }
}
@media (max-width: 500px) {
  .app .container {
    width: max-content;
  }
  .button .tasks .taskBtn button {
    padding: 0 5px;
  }
}
